{% extends "account/base.html" %}

{% block account_title %}Reset password - KOVA{% endblock %}
{% block account_heading %}Reset password{% endblock %}

{% block account_messages %}{% endblock %}

{% block account_body %}
<form method="post" action="{% url 'account_reset_password' %}" class="kova-auth__form">
  {% csrf_token %}
  {% if form.errors %}
    <div class="rounded-xl px-4 py-3 text-sm bg-red-50 border border-red-200 text-red-700">
      {% for error in form.non_field_errors %}<p>{{ error }}</p>{% endfor %}
    </div>
  {% endif %}
  <div>
    <label for="id_email" class="label">Email</label>
    <input type="email" name="email" id="id_email" class="input" placeholder="you@business.com" required autofocus autocomplete="email">
  </div>
  {% include "components/brand/_primary_cta_button.html" with label="Send reset link" %}
</form>
{% endblock %}

{% block account_footer %}
<p class="kova-auth__foot">
  <a href="{% url 'account_login' %}">Back to sign in</a>
</p>
{% endblock %}
