{% extends "base.html" %}
{% load static %}

{% block body_class %}bg-canvas{% endblock %}

{% block body %}
<script nonce="{{ request.csp_nonce }}">
  try { document.documentElement.classList.remove('dark'); } catch (e) {}
</script>
<div class="min-h-screen flex flex-col font-sans" x-data="{ mobileMenuOpen: false, openMenu: '' }" @keydown.escape.window="openMenu = ''; mobileMenuOpen = false">
<a href="#marketing-main" class="sr-only focus:not-sr-only focus:absolute focus:top-4 focus:left-4 focus:z-[100] focus:px-4 focus:py-2 focus:rounded-lg focus:bg-white focus:text-kova-600">
  Skip to main content
</a>

{% block marketing_header %}
{% include "landing/includes/_header.html" %}
{% endblock %}

<main id="marketing-main" tabindex="-1" class="flex-1 min-w-0 overflow-x-hidden">
  {% block content %}{% endblock %}
</main>

{% block marketing_footer %}
{% include "landing/includes/_footer.html" %}
{% endblock %}
</div>
{% include "components/brand/_reveal_script.html" %}
{% endblock %}
